<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    {% include wide.html %}
  </head>
  <body style="padding-top: 0px;">
    <div class="wrapper" style="text-align: justify;">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" style="width: 150px;" />
        {% endif %}
       
        <p class="view" style="font-style: italic;">
          I am an IT Generalist <span style="font-style:normal;"">&#x1F60E;</span> - my interests span from code development to networking 
          to operations management for on-prem private clouds and public clouds and everything in between.   
          <br>
        </p>

        <p class="view" style="line-height: 2.5;">
          <b>View a <a href="projects">list of my projects</a></b> 
          <br>
          <b>View my <a href="https://www.credly.com/users/md-emdadul-haque/badges?sort=-state_updated_at" target="_blank">certifications on Credly</a></b> 
          <br>
          <b>View my career history on <a href="https://www.linkedin.com/in/emdadulhaque/" target="_blank">LinkedIn</a></b> 
          <br>
          <b>Download my Résumé: <a href="https://drive.google.com/file/d/1xIuuB3QAUMlRqmtAdEjqkggOo4HpX6AC/view?usp=sharing" target="_blank">pdf - </a> <a href="https://docs.google.com/document/d/1xDItJ8AyCsOY18lIJFbZRwLUeW2ndnTe/edit?usp=sharing&ouid=106421337501615170664&rtpof=true&sd=true" target="_blank">doc</a></b>
        </p>
      </header>
      
      <a name="top"></a>

      <section>

      {{ content }}

      </section>

      <footer>
        <!-- 
          {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %} 
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
